:root {
  --test-color: #000;
}

html {
  font-family: Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0;
}

body > * {
  font-size: 12px;
}

.widget {
  box-sizing: border-box;
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
  background: white;
  border: 1px dashed #bbb;
  margin: 1rem;
}

.widget h1 {
  padding: 20px 0;
}

body > .widget:first-child {
  border-left: 0;
}

iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.credit-card-iframe iframe {
  width: 100%;
  height: 0;
  border: 1px dashed #ccc;
}

.debug-section,
.credit-card-iframe {
  padding-top: 1rem;
}

label {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

pre {
  margin: 0 0 20px 0 !important;
  background: white !important;
  padding: 0 20px !important;
}

h1 {
  font-size: 25px;
  font-weight: normal;
  padding: 20px;
  margin: 0;
}

.width-border-top {
  border-top: 1px solid #bbb;
}

.debug-data {
  border: 1px dashed #ccc;
  padding: 10px !important;
  overflow: auto;
}

button {
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}

button + button {
  margin-left: 5px;
}

select {
  max-width: 150px;
}

.row {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
}

.bt {
  border-top: 1px dashed #ccc;
  padding-top: 1rem;
}

.test {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
  color: var(--test-color);
}
